<script type="text/template" id="tpl-modal-edit">
    <div class="desc" style="font-size:12px;color:#8c8c8c;">这里您可以对活动信息进行编辑以便更好的管理它</div>
    <div class="" style="padding-top:24px;">
        <div class="input-field rui-modal-input-field col s12">
            <input  id="plan-name" type="text" class="validate"
            <%if(name){%>
            value="<%=name%>"
            <% } %>
            >
            <label for="plan-name"
            <%if(name){%>
            class="active"
            <% } %>
            >细分名称</label>
        </div>
    </div>
    <!--
        <div class="" style="padding-top:32px;">
            <div style="color:#8c8c8c;display: inline-block">正式发布</div>
            <div class="switch" style="display: inline-block">
                <label>
                    <input <%=disabled%>   type="checkbox" id="plan-release"
                    <%if(status!=0){%>
                    checked="checked"
                    <%}%>>
                    <span class="lever"></span>
                </label>
            </div>
        </div>
        <div class="msg" style="color:#e64646;font-size: 12px;height:24px;line-height: 24px;display: <%=display%> ">
            <%=msg%>
        </div>-->
</script>
<!--保存 -->
<script type="text/template" id="tpl-modal-save">
    <div  style="height:50px;line-height: 50px;text-align: center;padding-top: 24px;">保存成功！</div>
</script>
