<script type="text/template" class="tpl-con">
    <div id="container">
        <div id="header" class="clearfix"></div>
        <%if(showLeft){%>
        <div id="page-left" class="on"></div>
        <% }%>
        <div id="page-right" class="<%=pageRightClassName%>">
            <div id="page-body"></div>
        </div>
        <div id="footer">大连瑞雪科技有限公司</div>
        <div id="contact-list-wrap" class="z-depth-1"></div>
        <div id="userFileWindow" class="modal" style="width: 464px;height: 609px;overflow-y: hidden">
            <iframe id="userfilepage" width="100%" height="100%" frameborder="0" scrolling="no" src=""></iframe>
        </div>
    </div>
</script>