//表格
.table-list-wrap {
  overflow: auto;
  padding: 20px;
}

.page-table-box {
  tr > th {
    font-size: 14px;
    color: #333;
    padding: 0 16px;
    height: 34px;
    line-height: 34px;
    font-weight: inherit;
    white-space: nowrap;
    border-bottom: solid 2px #ececec;
  }
  tr > td {
    font-size: 12px;
    color: #666;
    height: 34px;
    line-height: 34px;
    white-space: nowrap;

    padding: 0 16px;
    text-align: left;
    border-bottom: 1px solid #ececec;
  }
  .first {
    text-align: left;
    padding-left: 24px;
  }
  .ico {
    text-align: right;

    padding: 0 24px 0 12px;
    .icon {
      cursor: pointer;
    }
    .stop {
      color: rgba(201, 201, 201, 1);
      cursor: not-allowed;
    }
  }
  .operation {
    a {
      color: rgba(102, 193, 227, 1);
      margin-right: 10px;
    }
    a:last-child {
      margin-right: 0;
    }
    .pointer {
      cursor: pointer;
    }
    .stop {
      color: rgba(201, 201, 201, 1);
      cursor: not-allowed;
    }
  }
  thead {height: 46px;}
  tbody {
    color: rgba(60, 60, 60, 1);
    font-size: 14px;
    tr:nth-child(even) {
        background-color: #f7f7f7;
    }
    tr:hover {
      background-color: rgba(102,193,227,0.1);
    }
    .loadding-wrap {
      img {
        margin-top: 16px;
        width: 40px;
        height: 40px;
      }
    }
  }
  .setuplist {
    width: 144px;
    padding: 8px 0;
    .close {
      cursor: not-allowed;
      .iconfont {
        color: rgba(200, 200, 200, 1);
        cursor: not-allowed;
      }
      a {
        color: rgba(200, 200, 200, 1);
        cursor: not-allowed;
      }
    }
    li {
      padding: 0 16px;
      height: 48px;
      line-height: 48px;
      a {
        padding: 0 12px;
        display: inline-block;
        height: 48px;
        line-height: 48px;
        font-size: 12px;
        color: rgba(60, 60, 60, 1);
      }
    }
  }
}

.page-table-box.allborder{
  th,td{
    border: solid 1px #ececec;
  }
}