@charset "utf-8";
/**
 * Created by AnThen on 2017/3/17.
 */

.tree-area{float: left; width: 100%; padding: 12px 35px 20px 40px;
    .treeLoading{position: absolute; top: 78px; right: 0; bottom: 0; left: 0; @include flex-display; @include flex-center; display: none;}
    .tree-branch{float: left; width: 100%; margin-top: 4px;
        .hitarea{float: left; width: 18px; height: 18px; cursor: pointer; background-image: url("/img/asset/treeview-default.gif"); background-repeat: no-repeat;}
        .li{float: left; width: 100%; list-style-type: none; padding: 3px 0 3px 16px; background-image: url("/img/asset/treeview-default-line.gif"); background-repeat: no-repeat; background-position: 0 -190px;
            .ulhiare{float: left; width: 100%; height: 28px; margin-left: -16px; padding: 6px 0 4px 0;
                .name{float: left; padding-left: 5px; line-height: 12px; cursor: pointer;
                    .num{margin-left: 10px;}
                    .num.hide{display: none;}
                }
                .name:hover{color: rgba(102,193,227,1);}
                .iconc{float: right; width: 32px; height: 26px; overflow: hidden; text-indent: 6px; line-height: 26px; cursor: pointer; margin: -6px -32px 0 0; display: none;}
            }
            .ulhiare:hover{
                cursor: pointer;
                background-color: rgba(102,193,227,0.11);
                border-left: 4px solid rgba(102,193,227,1);
                margin-left: -20px;
                .iconc{width: 32px; display: block; margin: -6px -32px 0 0; padding-left: 4px; background-color: rgba(102,193,227,0.11);}
            }
        }
        .li:first-child{background-position: 0 -182px;}
        .li:last-child{background-position: 0px -1794px;}
    }
    .tree-son{margin-top: 4px;
        .li{float: left; width: 100%; height: 28px; padding: 0 0 0 0; background: none;
            .hitarea{background: url("/img/asset/treeview-default-line.gif") no-repeat; cursor: inherit;}
            .name{float: left; padding-left: 5px; line-height: 26px; cursor: pointer;
                .num{margin-left: 10px;}
            }
            .name:hover{color: rgba(102,193,227,1);}
            .iconc{float: right; width: 12px; height: 28px; overflow: hidden; text-indent: -10px; line-height: 30px; margin-right: -12px; display: none; cursor: pointer;}
        }
        .li:last-child{float: left; width: 100%; height: 28px; padding: 0 0 0 0;
            .hitarea{background: url("/img/asset/treeview-default-line.gif") no-repeat 0 -1759px;}
        }
        .li:hover{
            background-color: rgba(102,193,227,0.11);
            border-left: 4px solid rgba(102,193,227,1);
            margin-left: -4px;
            .iconc{width: 16px; margin-right: -16px; text-indent: -6px; display: block; background-color: rgba(102,193,227,0.11);}
        }
    }
    .li.collapsable{
        .hitarea{background-position: -62px -23px;}
        .tree-branch{display: block;}
        .tree-son{display: block;}
    }
    .li.expandable{
        .hitarea{background-position: -80px -3px;}
        .tree-branch{display: none;}
        .tree-son{display: none;}
    }
}