@charset "utf-8";
/*加载公用css文件*/
@import "../base";

/*初始化变量*/
$main-font-size: 12px;
$animate: 0.1s;
$base-z-index: 1;
/*正文开始*/
.graphic{position: relative; width: 100%; height: 100%; padding: 0 16px 12px 16px;
    .content{position: absolute; top: 48px; right: 16px; bottom: 12px; left: 16px;
        .managed-area{position: relative; width: 472px; height: 100%; background-color: rgba(255, 255, 255, 1);
            .header{float: left; width: 100%; height: 56px; border-bottom: 1px solid rgba(230,230,230,1); padding: 16px 24px;
                .ico{line-height: 24px;}
                .option{cursor: pointer;}
                .text{font-size: $main-font-size + 2; line-height: $main-font-size + 4; margin-left: 10px;}
            }
            .managed-parent{position: absolute; top: 57px; right: 0; bottom: 0; left: 0; overflow-y: auto; padding: 16px 24px 8px 24px;
                .managed-box{float: left; width: 100%; height: auto;
                    .managed{float: left; width: 100%; height: 70px; padding: 8px; margin-bottom: 16px; border: 1px solid rgba(210,210,210,1);
                        .pic{float: left; width: 54px; height: 54px; background: url("../../img/asset/default-por.png") center;
                            img{width: 100%; height: 100%;}
                        }
                        .con-box{float: left; width: 279px; margin-left: 16px; display:block; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;
                            .title{float: left; width: 100%; height: 16px; line-height: 16px; margin-top: 8px; font-size: $main-font-size + 4; color: rgba(60,60,60,1);
                                .text{float: left; width: 230px; text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
                                .newico{float: left; width: 40px; height: 16px; overflow: hidden; padding: 0 6px; color: rgba(255,255,255,1); background-color: rgba(245,52,75,1); font-size: $main-font-size + 2; line-height: $main-font-size + 1; margin-left: 4px;}
                            }
                            .text-box{float: left; width: 100%; height: 24px; margin-top: 8px;
                                .icon-weixin{color: rgba(81,169,70,1); line-height: 24px;}
                                .text{font-size: $main-font-size + 2; line-height: $main-font-size + 2; color: rgba(90,90,90,1); text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
                            }
                        }
                        .more{float: right; width: 24px; height: 36px; margin: 9px 8px; cursor: pointer;}
                    }
                }
                .setuplist {width: 144px; padding: 8px 0;
                    li {padding: 0 16px; height: 48px; line-height: 48px;
                        a {padding: 0 12px; display: inline-block; height: 48px; line-height: 48px; font-size: 12px; color: #3c3c3c;}
                    }
                }
            }
        }
        .option-area{position: absolute; top: 0; right: 0; bottom: 0; left: 488px; background-color: rgba(255, 255, 255, 1);
            .header{float: left; width: 100%; height: 170px; padding: 24px; border-bottom: 1px solid rgba(230,230,230,1);
                .dispose-box{float: left; width: 100%; height: 100%; padding: 15px 55px; border-width: 1px; border-style: dashed;
                    .box{margin: auto;
                        .cloud{float: left;}
                        .text{float: left; font-size: $main-font-size + 4;}
                    }
                }
                .dispose-box.init{border-color: rgba(210,210,210,1); background-color: rgba(245,245,245,1);
                    .box{width: 400px; height: 88px;
                        .cloud{width: 104px; height: 88px; background-image: url("../../img/asset/cloud.png");}
                        .text{margin: 35px 0 0 40px; color: rgba(120,120,120,1);}
                    }
                }
                .dispose-box.ongoing{border-color: rgba(154,172,191,1); background-color: rgba(239,248,252,1); color: rgba(81,129,173,1);
                    .box{width: 400px; height: 88px;
                        .cloud{width: 104px; height: 88px; background-image: url("../../img/asset/cloudBule.png");}
                        .text{margin: 35px 0 0 40px; color: rgba(81,129,173,1);}
                    }
                }
                .dispose-box.hover{border-color: rgba(134,160,187,1); background-color: rgba(219,240,249,1);}
                .dispose-box.mouseup{padding: 15px 55px; border-color: rgba(154,172,191,1); background-color: rgba(239,248,252,1);
                    .box{width: 240px; height: 64px; margin: 12px auto;
                        .cloud{width: 64px; height: 64px;
                            .big{width: 100%; height: 100%;
                                .spinner-blue-only{border-color: rgba(23,157,232,1);}
                            }
                        }
                        .text{margin: 23px 0 0 12px; color: rgba(23,157,232,1);}
                    }
                }
                .dispose-box.success{border-color: rgba(154,172,191,1); background-color: rgba(239,248,252,1);
                    .box{width: 200px; height: 34px; margin: 27px auto;
                        .cloud{width: 50px; height: 34px; background-image: url("../../img/asset/cloudSuccess.png");}
                        .text{margin: 8px 0 0 12px; color: rgba(81,129,173,1);}
                    }
                }
            }
            .option-area{position: absolute; top: 171px; right: 0; bottom: 0; left: 0; padding: 0 24px; margin: 8px 0; overflow-y: auto;
                .option-box{float: left; width: 100%; height: auto; padding-top: 8px;
                    .option{float: left; position: relative; width: 100%; min-height: 102px; margin-bottom: 16px; padding: 8px 24px 8px 8px; border-width: 1px; border-style: solid; border-color: rgba(210,210,210,1);
                        .pic{float: left; width: 176px; height: 88px; position: relative; z-index: $base-z-index; cursor: pointer;}
                        .con-box{position: absolute; top: 8px; right: 24px; bottom: 8px; left: 200px; display: flex; align-items: center;
                            .the-text{font-size: $main-font-size + 4; color: rgba(120,120,120,1); cursor: pointer;}
                            .drag-box{float: left; width: 100%; margin-top: 24px; color: rgba(120,120,120,1); font-size: $main-font-size + 2; display: none;
                                .term{float: left; width: 100%; margin-bottom: 24px;
                                    .title{float: left;}
                                    .context{float: left; position: relative; width: 100%; padding-left: 58px; margin-top: -21px;
                                        input[type="text"]{height: 24px; margin: 0; font-size: $main-font-size + 2;}
                                        .sign{position: absolute; top: -8px; right: 0; display: none;}
                                        .tip{position: absolute; top: 27px; left: 58px; color: rgba(245,52,75,1); display: none;}
                                    }
                                    .context.wrong{
                                        input[type="text"]{border-bottom: 1px solid rgba(245,52,75,1);}
                                        input[type="text"]:focus:not([readonly]){border-bottom: 1px solid rgba(245,52,75,1); box-shadow: 0 1px 0 0 rgba(245,52,75,1);}
                                        input.valid[type="text"], input.valid[type="text"]:focus{box-shadow: 0 1px 0 0 rgba(245,52,75,1);}
                                        .sign{color: rgba(245,52,75,1); display: block;}
                                        .tip{display: block;}
                                    }
                                    .context.right{float: left !important;
                                        .drag{position: absolute; top: 0; right: 30px; bottom: 0; left: 58px; height: 32px; border: 1px solid rgba(215,215,215,1); background-color: rgba(250,250,250,1); color: rgba(90,90,90,1); font-size: $main-font-size; display: flex; align-items: center; cursor: pointer;
                                            .ico{float: left; width: 30px; height: 30px; background-color: rgba(235, 235, 235, 1); color: rgba(160, 160, 160, 1); text-align: center; line-height: 30px;}
                                            .drag-text{float: left; margin-left: 12px;}
                                        }
                                        .sign{top: -4px; color: rgba(23,157,232,1); display: block;}
                                    }
                                }
                            }
                        }
                    }
                    .option:hover{border-color: rgba(59,130,195,1);}
                    .option.weixin:hover{border-color: rgba(210,210,210,1);}
                    .option.hover{border-color: rgba(59,130,195,1);
                        .con-box{float: left; position: static; width: 100%; margin: 24px 0 32px -176px; padding-left: 191px; display: inline;
                            .the-text{float: left; width: 100%;}
                            .drag-box{display: block;}
                        }
                    }
                }
            }
        }
    }
}
.asset-graphic{
    .asset-graphic-drag{
       position: absolute;
    }
    .tmp-drag{
        z-Index:999;
        cursor:'move';
        position: absolute;
        right: 30px;
        height: 32px;
        border: 1px solid #d7d7d7;
        background-color: #fafafa;
        color: #5a5a5a;
        font-size: 12px;
        display: flex;
        align-items: center;
        .icon{
            float: left;
            width: 30px;
            height: 30px;
            background-color: #ebebeb;
            color: #a0a0a0;
            text-align: center;
            line-height: 30px;
        }
        .drag-text{
            float: left;
            margin-left: 12px;
        }
    }
}
.graphic-qrcode{width:164px; height:164px; margin:auto; overflow:hidden;
    *{width:164px; height:164px; overflow:hidden;}
}