@charset "utf-8";
/*加载公用css文件*/
@import "../base";

/*初始化变量*/
$main-font-size: 12px;
$animate: 0.1s;
$base-z-index: 1;
/*正文开始*/
.weixin {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 16px 12px 16px;
  .content {
    position: absolute;
    top: 48px;
    right: 16px;
    bottom: 12px;
    left: 16px;
    .managed-area {
      overflow-x: hidden;
        overflow-y: auto;
      position: relative;
      width: 376px;
      height: 100%;
      background-color: rgba(255, 255, 255, 1);
        float: left;
      .header {
        padding-top: 7px;
        float: left;
        width: 100%;
        height: 56px;
        border-bottom: 1px solid rgba(230, 230, 230, 1);
      }
      .footer {
        height: 100%;
      }
      .weixin-asset-list {
        margin-top: 8px;
        height: 100%;
        overflow-y: auto;
        > li {
          height: 56px;
          line-height: 52px;
            cursor: pointer;
          &:hover {
            background: #f8fafc;
          }
          &.cur {
            background: #eef3f5;
          }
          .tx {
            border-radius: 100%;
            width: 40px;
            height: 40px;
            vertical-align: middle;
            margin: 0 14px;
          }
          span {
            vertical-align: middle;
          }
          .name {

            font-size: 14px;
            color: #3c3c3c;

          }
          &.true {
            span {
              color: #c8c8c8;
            }
          }
        }
      }
    }

    .option-area {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 392px;
      background-color: rgba(255, 255, 255, 1);
      padding: 24px;
      line-height: 100%;
        overflow-y: auto;

      .header {

        position: relative;
        border-bottom: 1px solid #e6e6e6;
        padding-bottom: 24px;
        .more-btn {
          position: absolute;
          right: 0;
          top: 0;
          cursor: pointer;
        }
        .user-name {
          font-size: 18px;
          color: #3c3c3c;
        }
        .user-info {
          margin-top: 30px;
          font-size: 14px;
          color: #787878;

          .normal {
            color: #3c3c3c;
          }
        }
      }
      .more-btn {
        position: absolute;
        right: 24px;
        top: 180px;
        cursor: pointer;
      }
      .footer {
        float: left;
          width: 100%;
        padding:0 24px;
          margin-top: 20px;

        .tit {
          font-size: 16px;
          color: #5a5a5a;
        }
        .group-list {

          label {
            line-height: 120%;
            width: 320px;
            vertical-align: middle;
            font-size: 14px;
            color: #787878;
            .num {
              float: right;
              font-weight: bold;
            }
          }
          margin-top: 32px;
          > li {

            margin-bottom: 24px;
          }
        }
      }
      .dropdown-content {
        width: 144px;
        padding: 8px 0;
        > li {
          padding: 0 16px;
          height: 48px;
          line-height: 48px;
          a {
            padding: 0 12px;
            display: inline-block;
            height: 48px;
            line-height: 48px;
            font-size: 12px;
            color: #3c3c3c;
          }
          &.disabled {
            .iconfont {
              color: #8c8c8c;
            }

            a {
              color: #8c8c8c;
            }

          }
        }
      }
    }

  }
}