@charset "utf-8";
/*加载公用css文件*/
@import "../base";

/*初始化变量*/
$main-font-size: 12px;
$animate: 0.1s;
$base-z-index: 1;

/*正文开始*/
.crowd {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 16px 12px 16px;
  .content {
    position: absolute;
    top: 48px;
    right: 16px;
    bottom: 12px;
    left: 16px;
    background-color: rgba(255, 255, 255, 1);
    .header {
      float: left;
      width: 100%;
      height: auto;
      padding: 24px 24px 22.5px 24px;
      .title {
        float: left;
        width: 100%;
        height: 16px;
        font-size: $main-font-size + 6;
        color: rgba(60, 60, 60, 1);
        line-height: $main-font-size + 6;
      }
      .h2 {
        float: left;
        width: 100%;
        height: 12px;
        font-size: $main-font-size;
        color: rgba(120, 120, 120, 1);
        margin-top: 16px;
        line-height: $main-font-size;
      }
    }
    .list-box {
      position: absolute;
      top: 90.5px;
      right: 0;
      bottom: 0;
      left: 0;
      line-height: 48px;
      overflow-y: auto;
      text-align: right;
        .table-list-wrap{overflow: visible;
            .page-table-box{position: relative;}
        }
    }
  }
}