@charset "utf-8";
@import "../base";

/*初始化变量*/
$white-color: rgba(255, 255, 255, 1);
$main-font-color: rgba(63, 63, 63, 1);
$main-font-size: 12px;
$border-color: rgba(225, 225, 225, 1);
$element-box-background-color: rgba(18, 89, 195, 0.7);
$animate: 0.1s;
$emptyChartImgUrl:'../../img/funnel_no_data.png';
$emptyBarChatsImgUrl:'../../img/audience/histogram.png';
$emptyText:'暂无数据';
@-webkit-keyframes shineBlue {/*#3b82c3*/
  from {
    -webkit-text-shadow: 0 0 9px #333;
    -moz-text-shadow-shadow: 0 0 9px #333;
    text-shadow: 0 0 9px #333;
  }
  50% {
    -webkit-text-shadow: 0 0 30px #fff;
    -moz-text-shadow: 0 0 30px #fff;
    text-shadow: 0 0 30px #fff;
    background: #00c6ff;
    -webkit-box-shadow: 0 0px 13px 0  #00c6ff;
    -moz-box-shadow: 0 0px 13px 0  #00c6ff;
    box-shadow: 0 0px 13px 0  #00c6ff;
  }
  to {
    -webkit-text-shadow: 0 0 9px #333;
    -moz-text-shadow: 0 0 9px #333;
    text-shadow: 0 0 9px #333;
  }
}
@-webkit-keyframes triggerConfigHover {
  from {
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.19);
  }
  to {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

}
/*编码开始*/
.segment {

  position: relative;
  width: 100%;
  height: 100%;
  padding: 0 16px 12px 16px;
  .page-body-header{
    .iconfont,.keyong{
      color:#999999 !important;
    }
    .iconfont:hover,.keyong:hover{
      color:#66c1e3 !important;
    }
    .segment-effect-icon{
      width:24px;
      height:48px;
      display: block;

    }
  }
  .return-pages{
    display: none;
  }
  .return-url{
    .home{display: none;}
    .return-pages{display: block}
  }
  .delete-all{
    display: none;
  }
  #rui-modals-edit{
    cursor: pointer;
  }
  .content.work{
    .delete-box{
      display: none !important;
    }
    .action-input-close{
      display: none !important;
    }
    .act-box{
      display: none !important;
    }
  }
  .content {
    position: absolute;
    top: 48px;
    right: 16px;
    bottom: 12px;
    left: 16px;
    overflow-y: auto;
    overflow-x:hidden;
      .action-clone.input-box {
        float: left;
        width: 340px;
        height: 32px;
        line-height: 30px;
        color: rgba(90, 90, 90, 1);
        border: 1px solid #d7d7d7;
        background-color: #fafafa;
        .ico {
          float: left;
          width: 30px;
          height: 30px;
          background-color: rgba(235, 235, 235, 1);
          color: rgba(160, 160, 160, 1);
          text-align: center;
          display: block;
        }
        .input {
          position: relative;
          float: left;
          width: 260px;
          height: 30px;
          text-indent: 10px;
          font-size: $main-font-size + 2;
        }
        .close {
          float: right;
          width: 30px;
          height: 30px;
          line-height: 30px;
          font-size: $main-font-size + 9;
          text-align: center;
          display: none;
        }
      }
    .actions-box {
      float: left;
      width: 504px;
      min-height: 100%;
      height:100%;
      overflow-y: auto;
      background-color: $white-color;
      .prerequisite-box {
        float: left;
        width: 100%;
        .prerequisite {
          float: left;
          width: 100%;
          padding: 24px 24px 0 24px;
          .group-box {
            float: left;
            width: 410px;
            .term-box:first-child .input-box{
              display: block;
            }
            .term-box.hover .input-box{
              display: block;
            }
            .term-box {
              float: left;
              width: 100%;
              height: 48px;
              .input-box {
                display: none;
                float: left;
                width: 320px;
                height: 32px;
                line-height: 30px;
                color: rgba(90, 90, 90, 1);
                border: 1px dashed rgba(215, 215, 215, 1);
                background-color: rgba(250, 250, 250, 1);
                .ico {
                  float: left;
                  width: 30px;
                  height: 30px;
                  background-color: rgba(235, 235, 235, 1);
                  color: rgba(160, 160, 160, 1);
                  text-align: center;
                  display: none;
                }
                .input {
                  float: left;
                  width: 100%;
                  height: 30px;
                  text-indent: 10px;
                  font-size: $main-font-size + 2;
                }
                .close {
                  float: right;
                  width: 30px;
                  height: 30px;
                  line-height: 30px;
                  font-size: $main-font-size + 9;
                  text-align: center;
                  display: none;
                }
              }

              .act-box {
                float: right;
                width: 90px;
                height: 48px;
                padding: 9px 0 0 16px;
                .label {
                font-size: $main-font-size + 2;
                padding-left: 22px;
                line-height: 18px;
                display: block;
               }
              }
            }
            .term-box.init {
              display: block;
              .input-box {
                border: 1px solid rgba(215, 215, 215, 1);
                background-color: rgba(250, 250, 250, 1);
                display: block;
                .ico {
                  display: block;
                }
                .input {
                  overflow: hidden;
                  white-space: nowrap;
                  text-overflow: ellipsis;
                  width: 240px;
                  display: block;
                }
              }
              .input-box:hover {
                border: 1px solid rgba(215, 215, 215, 1);
                background-color: rgba(255, 255, 255, 1);
                box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
                .ico {
                  display: block;
                }
                .input {
                  display: block;
                }
                .close {
                  display: block;
                }
              }
            }
            .term-box.hover {
              display: block;
              .input-box {
                border: 1px dashed rgba(154, 172, 191, 1);
                background-color: rgba(238, 249, 253, 1);
                .ico {
                  display: none;
                }
                .input {
                  width: 100%;
                  display: block;
                }
              }
            }
            .term-box.enter {
              .input-box {
                border: 1px dashed #68a0bb;
                background: #dbf0f9;
              }
            }
          }
          .delete-box {
            float: right;
            width: 24px;
            height: 100%;
            text-align: center;
            font-size: $main-font-size + 12;
            line-height: 24px;
            color: rgba(160, 160, 160, 1);
            margin-top: 4px;
          }
        }
        .huo-box {
          position: relative;
          width: 100%;
          top: 9px;
          border-top:1px solid #c6c6c6;

          .huo {
            width: 20px;
            margin:-10px auto 10px;
            color: rgba(120, 120, 120, 1);
            background-color: $white-color;
            font-size: $main-font-size;
            text-align: center;
          }
        }
      }
      .trigger {
        position: absolute;
        width: 56px;
        height: 56px;
        border-radius: 100%;
        background-color: rgba(59, 130, 195, 1);
        line-height: 56px;
        text-align: center;
        font-size: $main-font-size + 10;
        bottom: 30px;
        left: 24px;
        color: rgba(255, 255, 255, 1);
        z-index: 55;
        cursor: pointer;
        &.trigger-hide {
          display: none;
          z-index: 53;
        }
      }
      .trigger:hover{
        -webkit-animation-name: triggerConfigHover;
        -webkit-animation-duration: 1.5s;
        -moz-animation-name: triggerConfigHover;
        -moz-animation-duration: 1.5s;
        animation-name: triggerConfigHover;
        animation-duration: 1.5s;
      }
    }
    .drawing-box {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 520px;
      background:#fff;
      .header {
        position: relative;
        width: 100%;
        min-height: 72px;
        padding: 14px 24px 0 24px;
        color: rgba(120, 120, 120, 1);
        font-size: $main-font-size + 6;
        border-bottom: 1px solid #e6e6e6;
        .blue-color {
          color: rgba(0, 152, 208, 1);
        }
        .count-ico {
          float: left;
          font-size: $main-font-size + 21;
        }
        .text {
          float: left;
          line-height: 50px;
        }
      }
      .content {
        position: absolute;
        top: 72px;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        .canvas-box {
          float: left;
          width: 100%;
          height: 100%;
          min-height: 280px;
          position: relative;

          .canvas-area {
            width: 280px;
            height: 200px;
            margin:0px auto;
            min-height: 200px;
            min-width: 280px;
            position: absolute;
            top: 50%;
            left: 50%;
//            -webkit-transform: translate(-50%,-50%);
//            -ms-transform: translate(-50%,-50%);
//            transform: translate(-50%,-50%);
          }
        }
        tr{
          border-bottom: 1px solid rgba(230, 230, 230, 1);
        }
        tr:last-child{
          border-bottom:0;
        }
      }
    }
    .drawing-box.no-data{
      background: $white-color url($emptyChartImgUrl) no-repeat center center !important;
    }
  }
  .shine-blue{
    -webkit-animation-name: shineBlue;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-name: shineBlue;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    animation-name: shineBlue;
    animation-duration: 3s;
    animation-iteration-count: infinite;
  }
}
.config-area {
  position: relative; /*width: 100%; height: 344px; top: -344px;*/
  width: 56px;
  height: 56px;
  top: -98px;
  left: 40px;
  border-radius: 56px;
  /*background-color: rgba(40, 59, 77, 0.85);*/
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 54;
  transition: width $animate + 0.2, height $animate + 0.2, top $animate + 0.2, left $animate + 0.2, border-radius $animate + 0.2;
  transition-delay: $animate;
  overflow: hidden;

  &.config-area-show {
    width: 80%;/*100%*/
    height: 344px;
    top:-420px;/* -344px;*/
    border-radius: 0;
    display: block;
    left: 100px;/*0*/;
    border:1px solid #ccc;
  }
  .aud-suggest-list{
    list-style: none;
    li{
      padding: 0 32px;
      height: 48px;
      line-height: 48px;
      font-size: 12px;
      color: #3c3c3c;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;

    }
  }
  .config-box {
    float: left;
    width: 50%;
    height: 100%;
    padding: 24px 24px 24px 40px;
    opacity: 0;
    transition: opacity $animate + 0.2;
    transition-delay: $animate + 0.2;
    &.config-box-show {
      opacity: 1;
    }
    .search-box {
      position: relative;
      width: 100%;
      height: 30px;
      color: rgba(255, 255, 255, 0.87);
      font-size: $main-font-size +2;
      input{
        margin-bottom: 0;
      }
      .validate {
        float: left;
        width: 100%;
        height: 30px;
        text-indent: 26px;
      }
      .find-ico {
        position: absolute;
        top: -2px;
        left: 0;
          color: rgba(255, 255, 255, 1);
      }
    }
    .result-area {
      float: left;
      width: 100%;
      .title {
        float: left;
        width: 100%;
        margin-top: 20px;
        color: #5a5a5a;/*rgba(255, 255, 255, 0.54);*/
      }
      .result-box {
        float: left;
        width: 100%;
        margin-top: 16px;
        overflow-y: auto;
        height: 200px;
        .result {
          float: left;
          min-width: 104px;
          height: 34px;
          margin: 0 8px 8px 0;
          border: 1px solid rgba(215, 215, 215, 1);
          background-color: rgba(250, 250, 250, 1);
          cursor: pointer;
          text-align: center;
          line-height: 32px;
          .ico {
            float: left;
            width: 32px;
            height: 32px;
            background-color: rgba(235, 235, 235, 1);
            color: rgba(160, 160, 160, 1);
          }
          .text {
            float: left;
            min-width: 72px;
            height: 32px;
            color: rgba(90, 90, 90, 1);
            font-size: $main-font-size;
          }
        }
        .result:last-child {
          margin: 0;
        }
      }
    }
  }

  .drawing-area {
    float: right;
    width: 50%;
    height: 100%;
    padding: 32px 40px 32px 32px;
    opacity: 0;
    transition: opacity $animate + 0.2;
    transition-delay: $animate + 0.2;
    &.drawing-area-show {
      opacity: 1;
    }
    .drawing-box {
      float: left;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 1);
      .drawing {
        width: 100%;
        height: 280px;
        margin: auto;
      }
    }
  }
  #drawing4{
  }
  #drawing4.no-data{
    background: url($emptyBarChatsImgUrl) no-repeat center center !important;
  }
  .trigger-tag{
    cursor: pointer;
    font-size: 12px;
  }

}
#triggerConfig{
  position: absolute;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background-color: rgba(0, 152, 208, 1);
  line-height: 56px;
  text-align: center;
  font-size: 22px;
  bottom: 41px;
  left: 40px;
  color: white;
  z-index: 55;
  cursor: pointer;
}
.segment-drag {
  position: absolute;
  display: block;
}
.result-clone{
  z-index: 100;
  float: left;
  min-width: 104px;
  height: 34px;
  margin: 0 8px 8px 0;
  border: 1px solid rgba(215, 215, 215, 1);
  background-color: rgba(250, 250, 250, 1);
  cursor: pointer;
  text-align: center;
  line-height: 32px;
  .ico {
    float: left;
    width: 32px;
    height: 32px;
    background-color: rgba(235, 235, 235, 1);
    color: rgba(160, 160, 160, 1);
  }
  .text {
    float: left;
    min-width: 72px;
    height: 32px;
    color: rgba(90, 90, 90, 1);
    font-size: $main-font-size;
  }
}
.segment-target{
  .input{
    color: #d7d7d7;
  }
}
//pop
.segment-tag {
  height: 32px;
  line-height: 32px;
  padding: 0 8px 0 16px;
  background: #e6e6e6;
  color: #787878;
  font-size: 12px;
  margin-right: 8px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom:3px;
  i.rui-close {
    display: inline-block;
    cursor: pointer;
    font-size: 16px;
    height: 16px;
    vertical-align: middle;
    line-height: 18px;
    margin-left: 8px;
    font-size: 12px;
  }
  i:hover {
    background: rgba(198, 220, 229, 1);
  }

}
#seg-condition-search{
  max-height:240px;
}






