@charset "utf-8";

/*加载公用css文件*/
@import "../base";
@import "../theme/v1/buttons"; //引入v1规范按钮

.page-body-con {

  background: #fff;
  .message-box {
    margin: 200px auto;
    width: 474px;

    .tit {
      .ico {
        float: left;
        width: 45px;
        height: 45px;
        background: url("/img/form-msg/suc.png") no-repeat;
        &.err {
          background: url("/img/form-msg/error.png") no-repeat;
        }
      }
      .txt {
        float: left;
        font-size: 28px;
        color: #666;
        margin-left: 24px;
      }

    }
    .desc {
      margin-left: 70px;
      margin-top: 24px;
      font-size: 18px;
      color: #666;
    }
    .tip {
      margin-left: 70px;
      margin-top: 26px;
      font-size: 14px;
      color: #999;
    }
    .button-main-1 {
      margin-left: 100px;
      margin-top: 10px;
    }
    &.form-wrap {
      width: 400px;
      $flw: 100px;
      color: #666;
      font-size: 12px;
      .form-tit {
        font-size: 18px;
        margin-left: 100px;
      }
      .form-l {
        width: $flw;
        float: left;
        text-align: right;
        padding-right: 8px;
        padding-top: 4px;
        span {
          font-size: 14px;
          color: #999;
        }
        .font-star {
          color: #e74c3c;
          margin-right: 4px;
        }
      }
      .form-r {
        margin-left: $flw;
        > input {
          width: 300px;
          box-sizing: border-box;
          padding: 0 8px;
          border: 1px solid #e6e6e6 !important;
          margin: 0;
        }
        .validcode-filed {
          width: 154px;
          input {
            padding: 0;
          }
        }
        .validcode-wrap {
          margin-left: 10px;
          width: 102px;
          img {
            width: 102px;
            height: 28px;
            border: 1px solid #ececec;
          }
        }
        .validcode-refresh {

          margin-left: 10px;
          .icon {
            font-size: 21px;
            color: rgba(102, 193, 227, 0.6);
            cursor: pointer;
            position: relative;
          }
        }

      }
      .tip-wrap {
        padding-left: 100px;
        span {
          width: 100px;
          background: #ccc;
          height: 20px;
          line-height: 20px;
          color: #fff;
          display: inline-block;
          text-align: center;
          border-right: 1px solid #fff;
          &.s.on {
            background: #5bd4c7;
            opacity: 0.3;
          }
          &.m.on {
            background: #5bd4c7;
            opacity: 0.6;
          }
          &.w.on {
            background: #5bd4c7;
          }
        }
      }
      .btn {
        margin-left: 200px;
      }
    }
    .err-msg {
      margin-top: -20px;
      padding-left: 100px;
      font-size: 12px;
      color: #fd7979;
      .icon {
        margin-right: 5px;
        font-size: 16px;
        position: relative;
        color: #fd7979;
      }
    }
  }
}