@charset "utf-8";
/**
 * Created by AnThen on 2016/11/1.
 */
/*加载公用css文件*/
@import "../base";

/*初始化变量*/
$main-font-size: 12px;
$animate: 0.1s;
$base-z-index: 1;
$base-font-color: rgba(102,102,102,1);
$base-blue-color: rgba(102,193,227,1);
$base-red-color: rgba(253,121,121,1);
$base-border-radius: 2px;
$base-border-line: 1px solid rgba(236,236,236,1);
$base-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16);
$split-line-color: rgba(236,236,236,1);
@mixin base-box{border: $base-border-line; background-color: rgba(255,255,255,1);};
@mixin single-line-font($default:$main-font-size){
  height: $default; font-size: $default; line-height: $default;
}
@mixin vetically-font($fontSize:$main-font-size,$lineHeight:$main-font-size){
  font-size: $fontSize; line-height: $lineHeight;
}

/*正文开始*/
.mould-check{position: relative; width: 100%; height: 100%; padding: 0 24px 20px 16px;
  .content{position: absolute; top: 48px; right: 16px; bottom: 24px; left: 16px; color: $base-font-color; font-size: $main-font-size; overflow-y: auto;
    .tabs-area{position: absolute; width: 100%; height: 70px; @include base-box; z-index: $base-z-index;
      .tabs-box{width: 150px; height: 68px;
        .tabs{height: 100%;
          .tab{height: 100%; line-height: 68px;}
        }
      }
    }
    .content-body{float: left; width: 100%; height: 100%; min-height: 754px; padding-top: 92px;
      .content-box{float: left; width: 100%; height: 100%; @include base-box; display: inline-table;
        .point-out-area{float: left; width: 100%; padding: 10px;
          .point-out-box{float: left; width: 100%; padding: 20px 32px; background-color: rgba(247,247,247,1);
            .point-out-title{float: left; width: 39px; height: 39px; overflow: hidden; display: flex; @include flex-center; background-color: rgba(139,195,74,1); border-radius: 5px; margin-right: 14px;
              .icon{width: 18px; height: 18px; overflow: hidden; color: rgba(255,255,255,1); font-size: $main-font-size + 6; line-height: $main-font-size + 8;}
            }
            .point-out-content{float: left; line-height: 24px; margin-top: -6px; color: rgba(153,153,153,1);}
          }
        }
        .msg-body{float: left; width: 100%; margin-top: 10px;
          .market{float: right; width: 100%; margin-bottom: 20px;
            .line{float: left; width: 100%;
              .line-title{float: left; width: 132px; height: 16px; text-align: right; font-size: $main-font-size + 2; margin-top: 7px;
                .redstar{color: $base-red-color; padding-right: 6px;}
              }
              .line-con{float: left; width: 100%; padding-left: 158px; padding-right: 60px; margin-top: -21px;
                .hint{float: left; width: 100%; @include single-line-font; margin-top: 4px; color: $base-red-color; display: none;}
                .hint.show{display: block;}
              }
              .line-con.nan-title{margin-top: 0;}
            }
            .material-name{margin-bottom: 22px;
              .input-area{float: left; width: 100%; height: 30px;
                .input-box{float: left; width: 296px; height: 30px; overflow: hidden; border: $base-border-line; padding: 0 10px;
                  .input{float: left; width: 100%;}
                }
              }
            }
            .material-type{margin-bottom: 22px;
              .radio-area{float: left; width: 100%; height: 30px; overflow: hidden; @include flex-display; @include flex-align-items(center);}
            }
            .idiograph{margin-bottom: 22px;
              .selectbtn{float: left; width: 296px; height: 30px; border: 1px solid rgba(236,236,236,1); padding: 4px 30px 6px 12px; cursor: pointer; background: url("../../img/masterdata/arrow-down.png") no-repeat 276px 13px; @include single-text; font-size: $main-font-size + 2;}
            }
            .mould{margin-bottom: 30px;
              .but-box{float: left; width: 100%; height: 30px;}
            }
            .mould-cont{margin-bottom: 30px;
              .textarea-area{position: relative; float: left; width: 100%;
                .textarea-box{float: left; width: 100%; height: 176px; border: $base-border-line; padding: 20px 16px;
                  .textarea{float: left; width: 100%; height: 100%; resize: none; border: none; color: rgba(153,153,153,1);}
                }
                .textarea-num{float: left; width: 100%; text-align: right; color: rgba(188,188,188,1); margin-top: 10px;}
                .huit-icon{position: absolute; width: 20px; height: 20px; overflow: hidden; color: rgba(204,204,204,1); font-size: $main-font-size + 10px; line-height: 19px; right: -23px; cursor: pointer;}
              }
              .textarea-huit{width: 360px !important; height: 230px; overflow-y: hidden;
                .nohover{line-height: 14px !important;
                  span{padding: 0; line-height: normal; display: inline;}
                }
              }
              .huit-box{float: left; width: 100%; margin-top: 10px; color: rgba(172,135,62,1); display: none;
                .icon{float: left; width: 20px; height: 20px; overflow: hidden; color: rgba(250,187,61,1); font-size: $main-font-size + 10px; line-height: 19px;}
                .huit{float: left; width: 100%; margin-top: -20px; padding-left: 24px;}
              }
              .huit-box.show{display: block;}
              .prompt-box{float: left; width: 100%; margin-top: 10px; color: rgba(153,153,153,1);}
            }
            .variable{margin-bottom: 22px; display: none;
              .list-box{float: left; width: 460px;
                .list{float: left; width: 100%; height: 30px; overflow: hidden; border: $base-border-line; cursor: pointer; margin-bottom: 10px;
                  .logo{float: left; width: 30px; height: 28px; overflow: hidden; @include flex-center; font-size: $main-font-size + 6px; font-weight: bold; border-right: $base-border-line;}
                  .list-count{float: left; width:236px; height: 28px; @include single-text; line-height: 28px; padding: 0 10px;}
                  .greater-icon{float: right; width: 10px; height: 28px; margin: 0 8px; font-size: $main-font-size + 2px; @include flex-center;}
                }
                .list:last-child{margin-bottom: 0;}
              }
            }
            .variable.show{display: block;}
            .other{margin-bottom: 22px;
              .line-con{margin-top: -16px;}
              .red-text{color: $base-red-color;}
            }
            .trigger {margin-bottom: 25px;
              .line-con{margin-top: -16px;
                .edit{float: left;}
                .delete{float: left; margin-left: 20px;}
              }
            }
          }
        }
      }
    }
  }
}